
/*
 * Utilities
 */

	.element--invisible {
		position: absolute !important;
		clip: rect(1px 1px 1px 1px);
		clip: rect(1px,1px,1px,1px);
		overflow: hidden;
		height: 1px;
	}

	.l-contain {
		max-width: $max-width;
		margin: 0 auto;
	}


/* 
 * Document
 */

	html {
		
	}

	body {
		font-family: 'Open Sans';

		@if $devel-mode == true {
		&::before {
			content: 'Palm';

			position: fixed;
			left: 1em;
			bottom: 1em;
			display: inline-block;
			padding: 0.5em;

			border-radius: $brand-round;

			background: green;
			line-height: 1;

			@include media-query(lap) {
				content: 'Lap';
				background: red;
			}

			@include media-query(desk) {
				content: 'Desk';
				background: purple;
			}

			@include media-query(desk-wide) {
				content: 'Desk Wide';
				background: orange;
			}
		}
		}
	}

	* {
		*behavior: url('#{$theme_path}/js/boxsizing.htc');
	}


/*
 * Page
 */

	.page-header {

	}

	.page-title {

	}

	.page-content {
		
	}

	.page-footer {
		padding: $gutter-width/2;
		background: $color--region-footer;
	}

/*
 * Region
 */

	.region {

	}

	.region--header {
		padding: $gutter-width/2 $gutter-width;
		background: $color--region-header;
	}

	.region--nav {
		padding: $gutter-width/2 $gutter-width;
		background: $color--region-nav;

		.nav {
			margin-bottom: 0;
		}
	}

	.site__name {
		margin-bottom: 0;
	}

	main {
		padding: $gutter-width;
	}

